.container-fluid {
  padding: 0px 0px 0px 0px;
}

.h1{
  font-weight: 700;
}

.row{
padding-top: 100px;
padding-bottom: 100px;
padding-left: 80px;
padding-right: 80px;
}
.other-row{
  background-color: #F5F5F580;
  box-shadow: inset 0px 0px 40px 40px #F5F5F5;
}